@use "./base.scss";

// put your custom CSS here!

/* Add this to quartz/styles/custom.scss */
.narrow-justified {
    max-width: 40ch;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
}